{% extends 'base.html' %}

{% block content %}

	<!-- nav badges -->
	{%if chakra != "--Chakra--"%}
		<b>Chakra</b>:<font size=5><span class='badge badge-pill badge-success'>{{chakra}}</span></font>&nbsp;
	{%endif%}
	{%if birth_month != "--Birth Month--"%}
		<b>Birth Month</b>:<font size=5><span class='badge badge-pill badge-info'>{{birth_month}}</span></font>&nbsp;
	{%endif%}
	{%if zodiac_sign != "--Zodiac Sign--"%}
		<b>Zodiac Sign</b>:<font size=5><span class='badge badge-pill badge-warning'>{{zodiac_sign}}</span></font>&nbsp;
	{%endif%}
	<br/><br/>
	
	<!-- crystal results -->
	{% if data.items()|count > 0 %}
		{%for id, crystal in data.items()%}
			<hr/>
			<h3><i>{{crystal.name}}</i></h3>
			<div style="float: left; margin: 10px;">
				<img src="{{ url_for('static', filename='images/' + id) }}" class="img-responsive" height=200>
			</div>
			<table class="table table-bordered" style="width: 35%; margin: 20px;">
				<colgroup>
					<col span=1 style="width: 15%; background-color: #DDD;">
					<col span=1 style="width: 20%;">
				</colgroup>
				<tbody>
					<tr>
						<td>Chakras</td><td>{{crystal.chakra}}</td>
					</tr>
					<tr>
						<td>Birth Month</td><td>{{crystal.birth_month}}</td>
					</tr>
					<tr>
						<td>Zodiac Sign</td><td>{{crystal.zodiac_sign}}</td>
					</tr>
					<tr>
						<td>Mohs Hardness</td>
						<td>
							{%if crystal.maximum_mohs_hardness == crystal.minimum_mohs_hardness%}
								{{crystal.maximum_mohs_hardness}}
							{%else%}
								{{crystal.minimum_mohs_hardness}}-{{crystal.maximum_mohs_hardness}}
							{%endif%}
						</td>
					</tr>
				</tbody>
			</table>
			<br/>

		{%endfor%}
	{% else %}
		<b>Sorry, no matches found.</b>
	{% endif %}

{% endblock %}