<div style="float: left; margin: 10px;">
    <form method="POST" action="{{ url_for('facet') }}" enctype = "multipart/form-data">
      {{ form.hidden_tag() }}

        <ul class="nav flex-column">
            <li class="nav-item">
              <select name="chakra_select" class="form-control">
                    <option value="--Chakra--">--Chakra--</option>
                    {% for choice in ['Crown','Third Eye','Throat','Heart','Solar plexus','Sacral','Root'] %}
                        {% if choice == chakra %}
                            <option value="{{choice}}" selected>{{choice}}</option>
                        {% else %}
                            <option value="{{choice}}">{{choice}}</option>
                        {% endif %}
                    {% endfor %}
              </select>
            </li>
            <li class="nav-item">
              <select name="birth_month_select" class="form-control">
                    <option value="--Birth Month--">--Birth Month--</option>
                    {% for choice in ['January','February','March','April','May','June','July','August','September','October','November','December'] %}
                        {% if choice == birth_month %}
                            <option value="{{choice}}" selected>{{choice}}</option>
                        {% else %}
                            <option value="{{choice}}">{{choice}}</option>
                        {% endif %}
                    {% endfor %}
              </select>
            </li>
            <li class="nav-item">
              <select name="zodiac_select" class="form-control">
                    <option value="--Zodiac Sign--">--Zodiac Sign--</option>
                    {% for choice in ['Aires','Taurus','Gemini','Cancer','Leo','Virgo','Libra','Scorpio','Sagitarius','Capricorn','Aquarius','Pisces'] %}
                        {% if choice == zodiac_sign %}
                            <option value="{{choice}}" selected>{{choice}}</option>
                        {% else %}
                            <option value="{{choice}}">{{choice}}</option>
                        {% endif %}
                    {% endfor %}
              </select>
            </li>
        </ul>
        <button type="submit" class="btn btn-success">Find Crystals</button>
    </form>
</div>